div#content
	div.head
		div.short what's this?
		div.full Pulls images from Flickr and Instagram that are geo-tagged to Berlin or New York. Guess where they're from. You can earn points. That's it.
	span.loader loading image...
	div.counter 0
	div#picker
		span.left	
			a(href='#', class='location-picker', city='nyc') NEWYORK
		span.or.red or
		span.right	
			a(href='#', class='location-picker', city='berlin') BERLIN&nbsp;
		
	span(class='note')
	div#images

	div#footer by 
		a(href='http://sens3.com') sens3