div#content
	div.counter 0
	div#picker
		span.left	
			a(href='#', class='location-picker', city='berlin') &nbsp;BERLIN
		span.left.spinner-wrapper
			img(src='/images/spinner.gif', class='spinner')
		span.right	
			a(href='#', class='location-picker', city='nyc') NEWYORK
	span(class='note')
	div#images