div#content
	div.counter 0
	div#picker
		span.left	
			a(href='#', class='location-picker', city='berlin') Berlin
		span.left
			img(src='/images/spinner.gif', class='spinner')
		span.right	
			a(href='#', class='location-picker', city='nyc') NYC	
	span(class='note')
	div#images