div#content
	span.loader loading image...
	div.counter 0
	div#picker
		span.left	
			a(href='#', class='location-picker', city='nyc') NEWYORK
		span.or.red or
		span.right	
			a(href='#', class='location-picker', city='berlin') BERLIN&nbsp;
		
	span(class='note')
	div#images