body {
  font: 14px Courier, sans-serif;
	background-color: #FAF4E4;
	width: 1000px;
	margin: auto;
}

#content {
	width: 600px;
	margin: auto;
}

.head {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 400px;
	cursor: pointer;
}

.loader {
	position: absolute;
	top: 100px;
	left: 20px;
	display: none;
}

#picker span{
	text-align: center;
	width: 275px;
	text-align: center;
}

#picker .spinner-wrapper {
	width: 50px;
}

a.location-picker {
	color: #0C2255;
	font-size: 60px;
	text-decoration: none;
}

a:hover.location-picker {
	color: #37A63A;
}

#images {
	text-align: center;
}

#images img{
	max-width: 600px;
}


#picker .left {
	float: left;
	text-align: left;
}

#picker .right {
	float: right;
	text-align: right;
}

#picker .or{
	float: left;
	width: 50px;
	margin-top: 20px;
	font-size: 30px;
	text-align: center;
}

.green {
	color: #37A63A;
}

.red {
	color: red;
}

.spinner {
	width: 50px;
	height: 50px;
	display: none;
}

.counter {
	font-size: 80px;
	color: #8D8D8D;
	width: 100%;
	text-align: center;
}

#footer{
	position: absolute;
	left: 20px;
	bottom: 20px;
}